<div class="card">
 <div class="card-header">
   <div class="card-img-wapper">
      <div *ngIf="property.Image">
       <img class="card-img-top" src='assets/images/{{property.Image}}'/>
      </div>
      <div *ngIf="!property.Image">
        <img class="card-img-top" src='assets/images/hoome.jpg'/>
      </div>

      <ul *ngIf="hideIcons"  class="list-inline text-center member-icons animate">
          <li class="list-inline-item">
          <button class="btn btn-primary" routerLink="/property-detail/{{property.Id}}">  <i class="far fa-edit"></i></button>
          </li>
          <li class="list-inline-item">
          <button class="btn btn-primary"> <i class="fas fa-eye"></i> </button>
          </li>
      </ul>
   </div>
 </div>
<div class ="card-body">


<h1 class="mb-0"> {{property.BHK}} BHK {{property.PType }} </h1>

in {{property.Name}}
<span *ngIf="property.Name">, </span>
{{property.City}}

<h6 class= "mt-2">{{property.FType}}
<span *ngIf="property.FType !== 'Unfurnished'">Furnished</span> | Ready to move </h6>

<hr class="mt-0 mb-2"/>

<h6 class= "mb-0">Price: <span>{{property.Price}} USD.</span> |
  Area: <span>{{property.BuiltArea}} Sq Ft </span> </h6>
</div>
</div>

