
<div class="row">
<div class="col-8">
<div class="card">
 <div class="card-header">
   List your property
  </div>
  <div class="card-body">
<form (ngSubmit)="OnSubmit()" #Form= "ngForm">
  <div class="tab-panel">
    <tabset class="member-tabset" #formTabs>

      <tab heading="Basic Information">
        <div class="form-group col-12">
          <p> I want to </p>
          <div class="btn-group" btnRadioGroup>
              <label class="btn btn-outline-primary" btnRadio = 1 role = "button" name="SellRent"> Sell </label>
              <label class="btn btn-outline-primary" btnRadio = 2 role = "button" name="SellRent"> Rent </label>
          </div>
        </div>
        <div class="form-group col-12">
          <p> BHK </p>
          <div class="btn-group" btnRadioGroup [(ngModel)]="propertyView.BHK" name="BHK">
              <label
              *ngFor="let BHK of [1,2,3,4]"
              class="btn btn-outline-primary"
              btnRadio = {{BHK}} role = "button" name="BHK"> {{BHK}} </label>


          </div>
       </div>
       <div class="form-group col-12">
        <p>Property Type  </p>
        <div class="btn-group" btnRadioGroup name="propertyType" [(ngModel)]="propertyView.PType">
            <label
            *ngFor="let property of propertyTypes"
            class="btn btn-outline-primary"
            btnRadio = {{property}}  role = "button"> {{property}} </label>
        </div>
     </div>
     <div class="form-group col-12">
      <p>Furnishing Type  </p>
      <div class="btn-group" btnRadioGroup (ngModel)]="propertyView.FType" name="BHK">
          <label
          *ngFor="let FType of furnishTypes"
          class="btn btn-outline-primary"
          btnRadio = {{FType}} role = "button" name="FType"> {{FType}} </label>
      </div>
   </div>
   <div class="form-group col-12">
          <label for= "name">In Building/Society/Project</label>
          <input type="text" id="name" #propName="ngModel"
                  name="PropertyName" minlength="2" maxlength="20" ngModel class="form-control" [(ngModel)]="propertyView.Name" required>
          <div *ngIf="!propName.valid && propName.touched" class="error-block">
           <span *ngIf="propName.errors && propName.errors['required']">Please enter username </span>
           <span *ngIf="propName.errors && propName.errors['minlength']">Please enter valid username </span>
          </div>
       </div>

       <div class="form-group col-12">
         <label for ="city"> City </label>
         <input type="text"  class="form-control" (ngModel)]="propertyView.City" name="City">
        </div>
       <div class="form-group col-12" >
       <button type="button" class="btn btn-primary" (click)="selectTab(1)" >Next</button>
       </div>
      </tab>
      <tab heading="Pricing and Area">
        <div class="form-group col-12">
          <label>Price (in USD)</label>
          <input type="number" class="form-control" name="PropertyPrice" [(ngModel)]="propertyView.Price">
        </div>

        <div class="form-group col-12">
          <label>Security (in USD)</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Maintenance (in USD)</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Built Area (in Sqr Feet)</label>
          <input type="text" class="form-control" (ngModel)]="propertyView.BuiltArea" name="BuiltArea">
        </div>

        <div class="form-group col-12">
          <label>Carpet Area(in Sqr Feet)</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group col-12" >
          <button type="button" class="btn btn-primary" (click)="selectTab(0)" >Prev</button>
          <button type="button" class="btn btn-primary m-1" (click)="selectTab(2)" >Next</button>
        </div>
      </tab>
      <tab heading="Address">
        <div class="form-group col-12">
          <label>Floor</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Total Floor</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Address</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Landmark</label>
          <input type="text" class="form-control">
        </div>

          <div class="form-group col-12" >
            <button type="button" class="btn btn-primary" (click)="selectTab(1)" >Prev</button>
            <button type="button" class="btn btn-primary m-1" (click)="selectTab(3)" >Next</button>

          </div>
      </tab>
      <tab heading="Other Details">
        <div class="form-group col-12">
          <label>Ready to Move</label><br/>
            <div class="btn-group" btnRadioGroup>
                <label
                *ngFor="let side of sideTypes"
                class="btn btn-outline-primary"
                btnRadio = {{side}} role = "radio" name="side"> {{side}} </label>
            </div>

        </div>

        <div class="form-group col-3">
          <label>Possession/Avaialble From</label>

          <input type="text"
          placeholder="Datepicker"
          class="form-control"
          bsDatepicker [bsConfig]="{containerClass: 'theme-dark-blue', dateInputFormat:'YYYY-MM-DD'}">
        </div>

        <div class="form-group col-12">
          <label>Age of Property</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <p>
          <label>Gated Community</label>
           </p>
            <div class="btn-group" btnRadioGroup>
                <label class="btn btn-outline-primary" btnRadio = 1 role = "button" name="SellRent"> Yes </label>
                <label class="btn btn-outline-primary" btnRadio = 2 role = "button" name="SellRent"> No </label>
            </div>

        </div>

        <div class="form-group col-12">
          <label>Main Entrance</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Description</label>
          <textarea type="text" class="form-control" rows="6"></textarea>
        </div>
        <div class="form-group col-12" >
          <button type="button" class="btn btn-primary" (click)="selectTab(2)" >Prev</button>
          <button type="button" class="btn btn-primary m-1" (click)="selectTab(4)" >Next</button>

        </div>
      </tab>
      <tab heading="Photos">
        <div class="form-group col-12">
          <div class="photo-control">
              <button class="mt-5" type="button">Upload</button> <br>
              This is under construction
          </div>
        </div>
        <div class="form-group col-12">
          <button type="button" class="btn btn-primary" (click)="selectTab(3)" >Prev</button>
        </div>
        <div class="form-group col-12 mt-1" >
          <button type="button" class="btn btn-primary" style="margin-right: 5px;">Submit</button>
          <button type="button" class="btn btn-primary"  >Cancel</button>
        </div>
      </tab>
    </tabset>
  </div>
</form>
</div>
</div>
</div>
<div class=col-4>
  <div class="card">
    <div class="card-header">
     Your property review
    </div>
    <div class="card-body">
      <div class="shadow-lg p-3">
      <app-property-card [property]="propertyView" [hideIcons] = false> </app-property-card>
      </div>
    </div>
  </div>
</div>
</div>
