<div class="card">
 <div class="card-header">
   List your property
  </div>
  <div class="card-body">
<form (ngSubmit)="OnSubmit()" #Form= "ngForm">
  <div>
    <tabset #formTabs>
      <tab heading="Basic Information">
        <div class="form-group col-12">
          <label for= "name"> Name </label>
          <input type="text" id="name" #propName="ngModel"
                  name="PropertyName" minlength="2" maxlength="20" ngModel class="form-control" required>
          <div *ngIf="!propName.valid && propName.touched" class="error-block">
           <span *ngIf="propName.errors && propName.errors['required']"> Please enter username </span>
           <span *ngIf="propName.errors && propName.errors['minlength']"> Please enter valid username </span>
          </div>
       </div>
       <div class="form-group col-12">
         <label for= "type"> Type </label>
         <input type = "text" if="type" #propType="ngModel" minlength="2" name="PropertyType" ngModel class="form-control">
         <div *ngIf="!propType.valid && propType.touched" class="error-block">
           <span *ngIf="propType.errors && propType.errors['minlength']"> Please enter mininum 2 character </span>
          </div>
       </div>
       <div class="form-group col-12">
         <label for ="price"> Price </label>
         <input type="text" minlength="2" #propPrice="ngModel" maxlength="5" id ="price" name="PropertyPrice" ngModel class="form-control">
         <div *ngIf="!propPrice.valid && propPrice.touched" class="error-block">
         <span *ngIf="propPrice.errors && propPrice.errors['minlength']"> Please enter mininum 2 character </span>
         <span *ngIf="propPrice.errors && propPrice.errors['maxlength']"> Please enter maximum 5 character </span>
         </div>
       </div>
       <div class="form-group col-12" >
       <button type="button" class="btn btn-primary" (click)="selectTab(1)" >Next</button>
       </div>
      </tab>
      <tab heading="Pricing and Area">
        <div class="form-group col-12">
          <label>Price (in USD)</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Security (in USD)</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Maintenance (in USD)</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Built Area (in Sqr Feet)</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Carpet Area(in Sqr Feet)</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group col-12" >
          <button type="button" class="btn btn-primary" (click)="selectTab(0)" >Prev</button>
          <button type="button" class="btn btn-primary m-1" (click)="selectTab(2)" >Next</button>
        </div>
      </tab>
      <tab heading="Address">
        <div class="form-group col-12">
          <label>Floor</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Total Floor</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Address</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Landmark</label>
          <input type="text" class="form-control">
        </div>

          <div class="form-group col-12" >
            <button type="button" class="btn btn-primary" (click)="selectTab(1)" >Prev</button>
            <button type="button" class="btn btn-primary m-1" (click)="selectTab(3)" >Next</button>

          </div>
      </tab>
      <tab heading="Other Details">
        <div class="form-group col-12">
          <label>Ready to Move</label><br/>
          <input type="radio" id='Yes' value='1' name="RTM">
          <label class="m-2">Yes</label>

          <input type="radio" id="No" value='2' name="RTM">
          <label class="m-2">No</label>
        </div>

        <div class="form-group col-3">
          <label>Possession/Avaialble From</label>
          <input type="date" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Age of Property</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Gated Community</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Main Entrance</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Description</label>
          <textarea type="text" class="form-control" rows="6"></textarea>
        </div>
        <div class="form-group col-12" >
          <button type="button" class="btn btn-primary" (click)="selectTab(2)" >Prev</button>
          <button type="button" class="btn btn-primary m-1" (click)="selectTab(4)" >Next</button>

        </div>
      </tab>
      <tab heading="Photos">
        <div class="form-group col-12">
          <div class="photo-control">
              <button class="mt-5" type="button">Upload</button> <br>
              This is under construction
          </div>
        </div>
        <div class="form-group col-12" >
          <button type="button" class="btn btn-primary" (click)="selectTab(3)" >Prev</button>
        </div>
      </tab>
    </tabset>
  </div>
</form>
</div>
</div>
