<!-- <p>add-property works!</p>
<button class="btn  btn-primary" (click)= "onBack()">Back </button> -->

<div class="card">
 <div class="card-header">
   List your property
  </div>
  <div class="card-body">
<form (ngSubmit)="OnSubmit()" #Form= "ngForm">
  <div>
    <tabset #formTabs>
      <tab heading="Basic Information">
        <div class="form-group col-12">
          <label for= "name"> Name </label>
          <input type="text" id="name" #propName="ngModel"
                  name="PropertyName" minlength="2" maxlength="20" ngModel class="form-control" required>
          <div *ngIf="!propName.valid && propName.touched" class="error-block">
           <span *ngIf="propName.errors && propName.errors['required']"> Please enter username </span>
           <span *ngIf="propName.errors && propName.errors['minlength']"> Please enter valid username </span>
          </div>
       </div>
       <div class="form-group col-12">
         <label for= "type"> Type </label>
         <input type = "text" if="type" #propType="ngModel" minlength="2" name="PropertyType" ngModel class="form-control">
         <div *ngIf="!propType.valid && propType.touched" class="error-block">
           <span *ngIf="propType.errors && propType.errors['minlength']"> Please enter mininum 2 character </span>
          </div>
       </div>
       <div class="form-group col-12">
         <label for ="price"> Price </label>
         <input type="text" minlength="2" #propPrice="ngModel" maxlength="5" id ="price" name="PropertyPrice" ngModel class="form-control">
         <div *ngIf="!propPrice.valid && propPrice.touched" class="error-block">
         <span *ngIf="propPrice.errors && propPrice.errors['minlength']"> Please enter mininum 2 character </span>
         <span *ngIf="propPrice.errors && propPrice.errors['maxlength']"> Please enter maximum 5 character </span>
         </div>
       </div>
       <div class="form-group col-12" >
       <button type="button" class="btn btn-primary" (click)="selectTab(1)" >Next</button>
       </div>
      </tab>
      <tab heading="Pricing and Area">Pricing Information
        <div class="form-group col-12" >
          <button type="button" class="btn btn-primary" (click)="selectTab(0)" >Prev</button>
          <button type="button" class="btn btn-primary m-1" (click)="selectTab(2)" >Next</button>
          </div>
      </tab>
      <tab heading="Address">Address Information
          <div class="form-group col-12" >
            <button type="button" class="btn btn-primary" (click)="selectTab(1)" >Prev</button>
            <button type="button" class="btn btn-primary m-1" (click)="selectTab(3)" >Next</button>

          </div>
      </tab>
      <tab heading="Other Details">Other Details
        <div class="form-group col-12" >
          <button type="button" class="btn btn-primary" (click)="selectTab(2)" >Prev</button>
          <button type="button" class="btn btn-primary m-1" (click)="selectTab(4)" >Next</button>

        </div>
      </tab>
      <tab heading="Photos">Upload Photos
        <div class="form-group col-12" >
          <button type="button" class="btn btn-primary" (click)="selectTab(3)" >Prev</button>
        </div>
      </tab>
    </tabset>
  </div>
</form>
</div>
</div>
